/* General body styling */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: orange;
}

/* Header styles */
header {
    background-color: #007bff;
    color: black;
    text-align: center;
    padding: 20px 0;
    font-family: "Freestyle Script", serif;
    font-size: 40px;
}

header h1 {
    margin: 0;
}

/* Navigation bar styles */
nav {
    background: #2831a7;
    font-family: "Impact", serif;
}

.nav-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.nav-logo {
    margin-right: 20px; /* 调整图片与列表项之间的间距 */
    height: 80px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0px;
    display: flex;
}

nav ul li {
    margin: 0;
    border-radius: 10px;
}

nav ul li a {
    color: white;
    padding: 15px 20px;
    display: block;
    text-decoration: none;
    transition: background-color 0.3s;
}

nav ul li.active a,
nav ul li a:hover {
    background-color: #555;
}

nav, .content {
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

/* Skip link for accessibility */
a[href="#main-content"] {
    position: absolute;
    left: -999px;
    background: #000;
    color: white;
    padding: 8px;
    z-index: 100;
}

a[href="#main-content"]:focus {
    left: 0;
}

/* Styles for the NBA section and map */
#nba {
    padding: 20px;
}

#nfl {
    padding: 20px;
}

#nhl {
    padding: 20px;
}
#mlb {
    padding: 20px;
}
#map {
    height: 600px;
}
.popup-content-container {
    display: flex;
    flex-wrap: nowrap;
    max-width: 400px; /* Adjust the width as needed */
}
.popup-content {
    flex: 1;
    padding: 5px;
}

#conferenceToggle {
    text-align: center;
    margin-bottom: 10px;
}

.content {
    display: flex;
}

#map-container {
    width: 80%;
    height: 600px;
    padding: 2%; /* Same height as the map */
    border: 5px dashed blue;
    border-radius: 20px;
}

#team-list {
    width: 30%;
    height: 600px; /* Same height as the map */
    padding: 2%;
    font-family: "Kalam", serif;
    color: #333;
    background-color: #f8f8f8;
    border-left: 1px solid #ccc;
    overflow-y: auto;
    border: 5px dashed blue; /* 虚线蓝色边框 */
    border-radius: 20px;
    background-color: orange;
}

#team-list h3 {
    color: #011527; /* A nice blue, adjust as you like */
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 30px;
}

#team-list h4 {
    color: #033c6e; /* A nice blue, adjust as you like */
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 20px;
}

#team-list ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#team-list li {
    padding: 5px 0;
}

#team-list a {
    color: #3c76aa; /* Matching the headers */
    text-decoration: none;
    transition: color 0.3s;
    font-family: "Comic Sans MS", cursive;
}

#team-list a:hover {
    color: #01447e; /* Darker blue for hover effect */
    border: 4px solid red; /* 鼠标悬停时显示黑色边框 */
    border-radius: 10px;
}

@media screen and (max-width: 750px) {
    body {
        font-size: 14px;
    }
    nav ul {
        flex-direction: column;
    }
}

button {
    border-radius: 20px;
}
